
{% extends 'base.html' %}
{% block main %}


<h3> {{ aluno.full_name  | default_if_none:"" }} </h3>
<div  role="region" aria-labelledby="HeadersCol" tabindex="0" class="rowheaders limit-table">
     <table style="text-transform:uppercase;" >
         <thead>
            <tr>
                <th>  id </th>
                <th>  status </th>
                <th>  nasc </th>
                <th>  telefone1 </th>
                <th>  n irmãos </th>
                <th>  tel responsavel financeiro </th>
                <th>  bolsista </th>
                <th>  celular mae </th>
                <th>  tel trabalho mae </th>
                <th>  celular pai </th>
                <th>  tel trabalho pai </th>
                <th>  detalhe </th>
                <th>  editar </th>
                <th>  foto </th>
            </tr>
        </thead>
        <tbody>

        <tr>
            <th scope="row"> {{ aluno.id  | default_if_none:"" }} </th>
                <td> {{ aluno.status  | default_if_none:"" }} </td>
                <td> {{ aluno.dat_nasc |date:'d-M-y' | default_if_none:"" }} </td>
                <td> {{ aluno.telefone1 | default_if_none:"" }} </td>
                <td> {{ aluno.n_irmaos | default_if_none:"" }} </td>
                <td> {{ aluno.tel_responsavel_financeiro | default_if_none:"" }} </td>
                <td> {{ aluno.bolsista | default_if_none:"" }} </td>
                <td> {{ aluno.celular_mae | default_if_none:"" }} </td>
                <td> {{ aluno.tel_trabalho_mae | default_if_none:"" }} </td>
                <td> {{ aluno.celular_pai | default_if_none:"" }} </td>
                <td> {{ aluno.tel_trabalho_pai | default_if_none:"" }} </td>
                <td> <a href="{{ aluno.get_absolute_url }}">  link </a> </td>
                <td> <a href="{% url 'aluno-update' aluno.id %}">  link </a> </td>
                <td>
                <a href="#">
                    {% if aluno.foto %}
                        <img src="{{ MEDIA_URL }}{{aluno.foto }}" class="img-responsive" alt="..." width="60" height="60" >

                    {% endif %}
                </a>
                </td>
        </tr>

    <tbody>
    </table>
</div>

<!--    TURMA ATUAL-->
<br>
<h3> TURMA ATUAL </h3>

<div  role="region" aria-labelledby="HeadersCol" tabindex="0" class="rowheaders limit-table">
     <table style="text-transform:uppercase;" >
    <thead>
        <tr>
            <th>  semestre </th>
            <th>  status </th>
<!--            <th>  created_at </th>-->
            <th>  numero_turma </th>
            <th>  professor </th>
            <th>  coordenador </th>
            <th>  nivel </th>
            <th>  inicio </th>
            <th>  fim </th>
            <th>  idioma </th>

            <th>  dia_semana </th>
            <th>  editar </th>
        </tr>
        </thead>
        <tbody>

    {% for turma in turmas_ativa %}
        <tr>
            <th scope="row"> {{ turma.semestre  | default_if_none:"" }} </th>
            <td> {{ turma.status  | default_if_none:"" }} </td>
<!--            <td> <a href="">  {{ turma.created_at |date:'Y'  | default_if_none:"" }} </a> </td>-->
            <td>
                <a href="{% url 'turma-detail' turma.id %}">
                    {{ turma.numero_turma  | default_if_none:"" }}
                </a></td>
            <td> {{ turma.professor.nome_completo  | default_if_none:"" }} </td>
            <td> {{ turma.coordenador.nome_completo  | default_if_none:"" }} </td>
            <td> {{ turma.nivel  | default_if_none:"" }} </td>
            <td> {{ turma.inicio  | default_if_none:"" }} </td>
            <td> {{ turma.fim  | default_if_none:"" }} </td>
            <td> {{ turma.idioma  | default_if_none:"" }} </td>

            <td>
                {% for hr in turma.hr_turma.select_related %}
                    {{ hr.dia_semana | default_if_none:"" }}
                        <a href="#">
                            {{ hr.view_hr_turma | default_if_none:"" }}
                        </a>
                    {{ hr.view_duracao_min | default_if_none:"" }} min
                    <br>
            {% endfor %}
            </td>

            <td> <a href="{% url 'turma-update' turma.id %}">  link </a> </td>
        </tr>
    {% endfor %}
    <tbody>
    </table>
</div>


<!--    TURMA ENCERRADA-->
<br>

<h3> TURMA ENCERRADA </h3>

<div  role="region" aria-labelledby="HeadersCol" tabindex="0" class="rowheaders limit-table">
     <table style="text-transform:uppercase;" >
    <thead>
        <tr>
            <th>  semestre </th>
            <th>  status </th>
<!--            <th>  created_at </th>-->
            <th>  numero_turma </th>
            <th>  professor </th>
            <th>  coordenador </th>
            <th>  nivel </th>
            <th>  inicio </th>
            <th>  fim </th>
            <th>  idioma </th>

            <th>  dia_semana </th>
            <th>  editar </th>
        </tr>
        </thead>
        <tbody>

    {% for turma in turmas_encerradas %}
        <tr>
            <th scope="row"> {{ turma.semestre  | default_if_none:"" }} </th>
            <td> {{ turma.status  | default_if_none:"" }} </td>
<!--            <td> <a href="">  {{ turma.created_at |date:'Y'  | default_if_none:"" }} </a> </td>-->
            <td>
                <a href="{% url 'turma-detail' turma.id %}">
                    {{ turma.numero_turma  | default_if_none:"" }}
                </a></td>
            <td> {{ turma.professor.nome_completo  | default_if_none:"" }} </td>
            <td> {{ turma.coordenador.nome_completo  | default_if_none:"" }} </td>
            <td> {{ turma.nivel  | default_if_none:"" }} </td>
            <td> {{ turma.inicio  | default_if_none:"" }} </td>
            <td> {{ turma.fim  | default_if_none:"" }} </td>
            <td> {{ turma.idioma  | default_if_none:"" }} </td>

            <td>
                {% for hr in turma.hr_turma.select_related %}
                    {{ hr.dia_semana | default_if_none:"" }}
                        <a href="#">
                            {{ hr.view_hr_turma | default_if_none:"" }}
                        </a>
                    {{ hr.view_duracao_min | default_if_none:"" }} min
                    <br>
            {% endfor %}
            </td>

            <td> <a href="{% url 'turma-update' turma.id %}">  link </a> </td>
        </tr>
    {% endfor %}
    <tbody>
    </table>
</div>

<br>

<form action="{% url 'aluno-pdf' aluno.id %}" method="GET">
    <button class="btn btn-info size-sm" type="submit"> PDF ALuno </button>
</form>


{% endblock %}