
{% extends 'base.html' %}
{% block main %}



<table class=" table-search table-hover table-responsive" >

    <thead>
        <tr>

            <td >
                Nome
            </td>

            <td>
                Aniversariantes
            </td>

        </tr>
    </thead>

    <tbody>

        <tr>

            <td>
                <form action="{% url 'aluno-search' %}" method="GET">
                    <input type="text" name="nome" >
                    <button class="btn btn-info size-sm" type="submit"> Buscar </button>
                </form>
            </td>

            <td>
                <form action="{% url 'aluno-search' %}" method="GET">
                    <input type="month" name="bday" value="{{ now }}">
                    <button class="btn btn-info size-sm" type="submit"> Buscar </button>
                    <button class="btn btn-info size-sm" name="pdf" type="submit" value="PDF"> PDF </button>
                </form>

            </td>

        </tr>
    </tbody>
</table>

<br>

<h3> ALUNOS</h3>


<!--1-->
<div  role="region" aria-labelledby="HeadersCol" tabindex="0" class="rowheaders limit-table">
 <table style="text-transform:uppercase;" >
    <thead>
    <tr>
        <th>  nome </th>
        <th>  status </th>
        <th>  dat nascimento </th>
        <th>  telefone1 </th>
        <th>  n irmãos </th>
        <th>  tel responsavel financeiro </th>
        <th>  bolsista </th>
        <th>  celular mae </th>
        <th>  tel trabalho mae </th>
        <th>  celular pai </th>
        <th>  tel trabalho pai </th>
        <th>  editar </th>
    </tr>
    </thead>
    <tbody>

    {% for aluno in alunos %}
    <tr>
        <th scope="row">
            <a href="{{ aluno.get_absolute_url }}">
                {{ aluno.id  | default_if_none:"" }} - {{ aluno.full_name  | default_if_none:"" }}
            </a> </th>
            <td> {{ aluno.status  | default_if_none:"" }} </td>
            <td> {{ aluno.dat_nasc |date:'d-M-Y' | default_if_none:"" }} </td>
            <td> {{ aluno.telefone1 | default_if_none:"" }} </td>
            <td> {{ aluno.n_irmaos | default_if_none:"" }} </td>
            <td> {{ aluno.tel_responsavel_financeiro | default_if_none:"" }} </td>
            <td> {{ aluno.bolsista | default_if_none:"" }} </td>
            <td> {{ aluno.celular_mae | default_if_none:"" }} </td>
            <td> {{ aluno.tel_trabalho_mae | default_if_none:"" }} </td>
            <td> {{ aluno.celular_pai | default_if_none:"" }} </td>
            <td> {{ aluno.tel_trabalho_pai | default_if_none:"" }} </td>
            <td> <a href="{% url 'aluno-update' aluno.id %}">  link </a> </td>
    </tr>
 {% endfor %}

<tbody>
</table>
</div>


<!--2-->


{% endblock %}