
{% extends 'base.html' %}
{% block main %}

<style>
    html, body{
      margin:0;
      padding:0;
      height:100%;
    }

    section {
      position: relative;
      border: 1px solid #000;
      padding-top: 37px;
      background: #500;
    }
    section.positioned {
      position: absolute;
      top:100px;
      left:100px;
      width:800px;
      box-shadow: 0 0 15px #333;
    }
    .container {
      overflow-y: auto;
      height: 160px;
    }
    table {
      border-spacing: 0;
      width:100%;
    }
    td + td {
      border-left:1px solid #eee;
    }
    td, th {
      border-bottom:1px solid #eee;
      background: #ddd;
      color: #000;
      padding: 10px 25px;
    }
    th {
      height: 0;
      line-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      color: transparent;
      border: none;
      white-space: nowrap;
    }
    th div{
      position: absolute;
      background: transparent;
      color: #fff;
      padding: 9px 25px;
      top: 0;
      margin-left: -25px;
      line-height: normal;
      border-left: 1px solid #800;
    }
    th:first-child div{
      border: none;
    }
</style>



<form action="{% url 'aluno-search-name' %}" method="GET">
    <input type="text" name="nome" placeholder="nome">
    <button class="btn btn-info size-sm" type="submit"> Buscar </button>
</form>

<br>

<!--<tr>-->
<!--    <th scope="col" colspan="12">  <h3> ALUNOS </h3> </th>-->
<!--</tr>-->

<h3> ALUNOS </h3>

<section class="">
  <div class="container">
    <table class="table table-striped" style="text-transform:uppercase;" >

      <thead>
        <tr class="header">
          <th>
             nome  <div> nome </div>
          </th>
          <th>
             status  <div> status </div>
          </th>
          <th>
             nasc  <div> nasc </div>
          </th>
          <th>
             telefone1  <div> telefone1 </div>
          </th>
          <th>
             n irmãos  <div> n irmãos </div>
          </th>
          <th>
            tel responsavel  <div>tel responsavel </div>
          </th>
          <th>
            bolsista  <div>bolsista </div>
          </th>
          <th>
            celular mae  <div>celular mae </div>
          </th>
          <th>
            tel trabalho mae  <div>tel trabalho mae </div>
          </th>
          <th>
            celular pai  <div>celular pai </div>
          </th>
          <th>
            tel trabalho pai  <div>tel trabalho pai </div>
          </th>
          <th>
            detalhe  <div>detalhe </div>
          </th>
          <th>
            editar  <div>editar </div>
          </th>
        </tr>
      </thead>


      <tbody>

    {% for aluno in alunos %}
        <tr>
            <td > <a href="#">  {{ aluno.nome  | default_if_none:""}} </a> </td>
<!--            <th class="row"> <a href="#">  {{ aluno.nome  | default_if_none:""}} </a> </th>-->
            <td>  {{ aluno.status  | default_if_none:""}} </td>
            <td>  {{ aluno.dat_nasc |date:'d-M-y' | default_if_none:""}} </td>
            <td>  {{ aluno.telefone1  | default_if_none:""}} </td>
            <td>  {{ aluno.n_irmaos  | default_if_none:""}} </td>
            <td>  {{ aluno.tel_responsavel_financeiro | default_if_none:""}} </td>
            <td>  {{ aluno.bolsista | default_if_none:""}} </td>
            <td>  {{ aluno.celular_mae | default_if_none:""}} </td>
            <td>  {{ aluno.tel_trabalho_mae | default_if_none:""}} </td>
            <td>  {{ aluno.celular_pai | default_if_none:""}} </td>
            <td>  {{ aluno.tel_trabalho_pai | default_if_none:""}} </td>
            <td> <a href="{{ aluno.get_absolute_url }}"> link </a> </td>
            <td> <a href="{% url 'aluno-update' aluno.id %}">  link </a> </td>
        </tr>
     {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% endblock %}