
{% extends 'base.html' %}
{% block main %}


<h3> FUNCIONÁRIOS </h3>

<div  role="region" aria-labelledby="HeadersCol" tabindex="0" class="rowheaders limit-table">
     <table style="text-transform:uppercase;" >
        <thead>
            <tr>
                <th>  nome </th>
                <th>  status </th>
                <th>  funcao </th>
                <th>  telefone1 </th>
                <th>  telefone2 </th>
                <th>  dat_nasc </th>
                <th>  email </th>
                <th>  editar </th>
                <th>  foto </th>
            </tr>
        </thead>
    <tbody>
    {% for funcionario in funcionarios %}
        <tr>
            <th scope="row"> {{ funcionario.nome_completo }} </th>
                <td> {{ funcionario.status }} </td>
                <td> {{ funcionario.funcao }} </td>
                <td> {{ funcionario.telefone1 }} </td>
                <td> {{ funcionario.telefone2 }} </td>
                <td> {{ funcionario.dat_nasc }} </td>
                <td> {{ funcionario.email }} </td>
                <td> <a href="{% url 'funcionario-update' funcionario.id %}">  link </a> </td>
                <td>
                <a href="#">
                    {% if funcionario.foto %}
                        <img src="{{ MEDIA_URL }}{{funcionario.foto}}" class="img-responsive" alt="..." width="100" height="100" >

                    {% endif %}
                </a>
                </td>
        </tr>
    {% endfor %}
    <tbody>
    </table>
</div>


{% endblock %}