
{% extends 'base.html' %}
{% block main %}

<h3> HORÁRIOS </h3>

<div  role="region" aria-labelledby="HeadersCol" tabindex="0" class="rowheaders limit-table">
     <table style="text-transform:uppercase;" >
        <thead>
            <tr>
                <th scope="col">  dia_semana </th>
                <th scope="col">  hr_turma </th>
                <th scope="col">  duracao_min </th>
                <th scope="col">  editar </th>
            </tr>
        </thead>
        <tbody>
    {% for horario in horarios %}
        <tr>
            <th scope="row"> <a href="{% url 'horario-update-form' horario.id %}">  {{ horario.dia_semana }} </a> </th>
                <td> <a href="#">  {{ horario.view_hr_turma }} </a> </td>
                <td> <a href="#">  {{ horario.view_duracao_min}} </a> </td>
                <td> <a href="{% url 'horario-update' horario.id %}">  link </a> </td>
        </tr>
    {% endfor %}
    <tbody>
    </table>
</div>


{% endblock %}