
{% extends 'base.html' %}
{% block main %}

<table class="table table-striped  table-hover table-responsive" style="text-transform:uppercase;" >
    <thead>
        <tr>
            <th scope="col" colspan="11">  <h3> Turmas </h3> </th>
       </tr>
        <tr>
            <th scope="col">  semestre </th>
            <th scope="col">  status </th>
            <th scope="col">  created_at </th>
            <th scope="col">  numero_turma </th>
            <th scope="col">  professor </th>
            <th scope="col">  coordenador </th>
            <th scope="col">  nivel </th>
            <th scope="col">  inicio </th>
            <th scope="col">  fim </th>
            <th scope="col">  idioma </th>

            <th scope="col">  dia_semana </th>
        </tr>
        </thead>
        <tbody>
    {% for turma in turmas %}
        <tr>
            <th class="row"> <a href="#">  {{ turma.semestre }} </a> </th>
            <td> <a href="#">  {{ turma.status }} </a> </td>
            <td> <a href="">  {{ turma.created_at |date:'Y' }} </a> </td>
            <td> <a href="#">  {{ turma.numero_turma }} </a> </td>
            <td> <a href="#">  {{ turma.professor.nome_completo }} </a> </td>
            <td> <a href="#">  {{ turma.coordenador.nome_completo }} </a> </td>
            <td> <a href="#">  {{ turma.nivel }} </a> </td>
            <td> <a href="#">  {{ turma.inicio }} </a> </td>
            <td> <a href="#">  {{ turma.fim }} </a> </td>
            <td> <a href="#">  {{ turma.idioma }} </a> </td>

            <td>
                {% for hr in turma.hr_turma.select_related %}
                    {{ hr.dia_semana}}
                        <a href="#">
                            {{ hr.hr_turma}}
                        </a>
                    {{ hr.view_duracao_min}} min
                    <br>
            {% endfor %}
            </td>
        </tr>

    {% endfor %}
    <tbody>
    </table>

{% endblock %}