
{% extends 'base.html' %}
{% block main %}

<table class="table table-striped  table-hover table-responsive" style="text-transform:uppercase;" >
    <thead>
        <tr>
            <th scope="col" colspan="11">  <h3> Turma: {{ turma.numero_turma }} </h3> </th>
       </tr>
        <tr>
            <th scope="col">  semestre </th>
            <th scope="col">  status </th>
<!--            <th scope="col">  created_at </th>-->
            <th scope="col">  numero_turma </th>
            <th scope="col">  professor </th>
            <th scope="col">  coordenador </th>
            <th scope="col">  nivel </th>
            <th scope="col">  inicio </th>
            <th scope="col">  fim </th>
            <th scope="col">  idioma </th>

            <th scope="col">  dia_semana </th>
            <th scope="col">  detalhe </th>
            <th scope="col">  editar </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="row"> <a href="#">  {{ turma.semestre }} </a> </th>
            <td> <a href="#">  {{ turma.status }} </a> </td>
<!--            <td> <a href="">  {{ turma.created_at |date:'Y' }} </a> </td>-->
            <td> <a href="#">  {{ turma.numero_turma }} </a> </td>
            <td> <a href="#">  {{ turma.professor.nome_completo }} </a> </td>
            <td> <a href="#">  {{ turma.coordenador.nome_completo }} </a> </td>
            <td> <a href="#">  {{ turma.nivel }} </a> </td>
            <td> <a href="#">  {{ turma.inicio }} </a> </td>
            <td> <a href="#">  {{ turma.fim }} </a> </td>
            <td> <a href="#">  {{ turma.idioma }} </a> </td>

            <td>
                {% for hr in turma.hr_turma.select_related %}
                    {{ hr.dia_semana}}
                        <a href="#">
                            {{ hr.hr_turma}}
                        </a>
                    {{ hr.view_duracao_min}} min
                    <br>
            {% endfor %}
            </td>

            <td> <a href="{% url 'turma-detail' turma.id %}"> link </a> </td>
            <td> <a href="{% url 'turma-update' turma.id %}">  link </a> </td>

        </tr>

    <tbody>
    </table>

<!--ALunos-->

    <table class="table table-striped  table-hover table-responsive" style="text-transform:uppercase;" >
        <thead>
        <tr>
            <th scope="col" colspan="12">  <h3> ALUNOS </h3> </th>
       </tr>
        <tr>
            <th scope="col">  nome </th>
<!--            <th scope="col">  status </th>-->
            <th scope="col">  nasc </th>
            <th scope="col">  telefone1 </th>
            <th scope="col">  n irmãos </th>
            <th scope="col">  tel responsavel financeiro </th>
            <th scope="col">  bolsista </th>
            <th scope="col">  celular mae </th>
            <th scope="col">  tel trabalho mae </th>
            <th scope="col">  celular pai </th>
            <th scope="col">  tel trabalho pai </th>
            <th scope="col">  detalhe </th>
            <th scope="col">  editar </th>
            <th scope="col">  foto </th>
        </tr>
        </thead>
        <tbody>
    {% for aluno in turma.aluno.select_related %}
        <tr>
            <th class="row"> <a href="#">  {{ aluno.nome }} </a> </th>
<!--                <td> <a href="#">  {{ aluno.status }} </a> </td>-->
                <td> <a href="#">  {{ aluno.dat_nasc |date:'d-M-y'}} </a> </td>
                <td> <a href="#">  {{ aluno.telefone1}} </a> </td>
                <td> <a href="#">  {{ aluno.n_irmaos}} </a> </td>
                <td> <a href="#">  {{ aluno.tel_responsavel_financeiro}} </a> </td>
                <td> <a href="#">  {{ aluno.bolsista}} </a> </td>
                <td> <a href="#">  {{ aluno.celular_mae}} </a> </td>
                <td> <a href="#">  {{ aluno.tel_trabalho_mae}} </a> </td>
                <td> <a href="#">  {{ aluno.celular_pai}} </a> </td>
                <td> <a href="#">  {{ aluno.tel_trabalho_pai}} </a> </td>
                <td> <a href="{{ aluno.get_absolute_url }}"> link </a> </td>
                <td> <a href="{% url 'aluno-update' aluno.id %}">  link </a> </td>
                <td>
                <a href="#">
                    {% if aluno.foto %}
                        <img src="{{ MEDIA_URL }}{{aluno.foto}}" class="img-responsive" alt="..." width="60" height="60" >

                    {% endif %}
                </a>
                </td>
        </tr>
    {% endfor %}
    <tbody>
    </table>
{% endblock %}