
{% extends 'base.html' %}
{% block main %}

<table class=" table-search table-hover table-responsive" >

    <thead>
        <tr>
            <td >
                Ano
            </td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                <form action="{% url 'turma-search' %}" method="GET">

<!--                    <input type="year" name="ano" value="{{ now }}">-->
                    <input type="number" name="ano" min="1990" max="2099" step="1"  value="{{ now }}">
                    <select name="status">
                          <option value="ativa">Ativa</option>
                          <option value="encerrada">Encerrada</option>
                    </select>
                    <button class="btn btn-info size-sm" type="submit"> Buscar </button>
<!--                    <button class="btn btn-info size-sm" name="pdf" type="submit" value="PDF"> PDF </button>-->
                </form>

            </td>

        </tr>
    </tbody>
</table>

<br>

<!---->

<h3> TURMAS </h3>

<div  role="region" aria-labelledby="HeadersCol" tabindex="0" class="rowheaders limit-table">
     <table style="text-transform:uppercase;" >
        <thead>
            <tr>
                <th>  numero_turma </th>
                <th>  created_at </th>
                <th>  semestre </th>
                <th>  status </th>
                <th>  professor </th>
                <th>  coordenador </th>
                <th>  nivel </th>
                <th>  inicio </th>
                <th>  fim </th>
                <th>  idioma </th>
                <th>  dia_semana </th>
                <th>  editar </th>
            </tr>
        </thead>
        <tbody>
    {% for turma in turmas %}
        <tr>
            <th scope="row">
                <a href="{% url 'turma-detail' turma.id %}">
                    {{ turma.numero_turma | default_if_none:""  }}
                </a>
            </th>
            <td>   {{ turma.created_at |date:'Y' | default_if_none:""  }} </td>
            <td> {{ turma.semestre | default_if_none:""  }}  </td>
            <td>   {{ turma.status | default_if_none:""  }} </td>

            <td>   {{ turma.professor.nome_completo | default_if_none:""  }} </td>
            <td>   {{ turma.coordenador.nome_completo | default_if_none:""  }} </td>
            <td>   {{ turma.nivel | default_if_none:""  }} </td>
            <td>   {{ turma.inicio | default_if_none:""  }} </td>
            <td>   {{ turma.fim | default_if_none:""  }} </td>
            <td>   {{ turma.idioma | default_if_none:""  }} </td>

            <td>
                {% for hr in turma.hr_turma.select_related %}
                    {{ hr.dia_semana}}
                        <a href="#">
                            {{ hr.view_hr_turma}}
                        </a>
                    {{ hr.view_duracao_min}} min
                    <br>
            {% endfor %}
            </td>

            <td> <a href="{% url 'turma-update' turma.id %}">  link </a> </td>

        </tr>

    {% endfor %}
    <tbody>
    </table>
  </div>



{% endblock %}