
{% extends 'base.html' %}
{% block main %}

<!---->

<h3> TURMA: {{ turma.numero_turma }}</h3>

<div  role="region" aria-labelledby="HeadersCol" tabindex="0" class="rowheaders limit-table">
     <table style="text-transform:uppercase;" >
        <thead>
            <tr>
                <th>  numero_turma </th>
                <th>  created_at </th>
                <th>  semestre </th>
                <th>  status </th>
                <th>  professor </th>
                <th>  coordenador </th>
                <th>  nivel </th>
                <th>  inicio </th>
                <th>  fim </th>
                <th>  idioma </th>
                <th>  dia_semana </th>
                <th>  editar </th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">
                <a href="{% url 'turma-detail' turma.id %}">
                    {{ turma.numero_turma | default_if_none:""  }}
                </a>
            </th>
            <td>   {{ turma.created_at |date:'Y' | default_if_none:""  }} </td>
            <td> {{ turma.semestre | default_if_none:""  }}  </td>
            <td>   {{ turma.status | default_if_none:""  }} </td>

            <td>   {{ turma.professor.nome_completo | default_if_none:""  }} </td>
            <td>   {{ turma.coordenador.nome_completo | default_if_none:""  }} </td>
            <td>   {{ turma.nivel | default_if_none:""  }} </td>
            <td>   {{ turma.inicio | default_if_none:""  }} </td>
            <td>   {{ turma.fim | default_if_none:""  }} </td>
            <td>   {{ turma.idioma | default_if_none:""  }} </td>

            <td>
                {% for hr in turma.hr_turma.select_related %}
                    {{ hr.dia_semana}}
                        <a href="#">
                            {{ hr.hr_turma}}
                        </a>
                    {{ hr.view_duracao_min}} min
                    <br>
            {% endfor %}
            </td>

            <td> <a href="{% url 'turma-update' turma.id %}">  link </a> </td>

        </tr>

    <tbody>
    </table>
  </div>

<!---->
<br>

<h3>ALUNOS </h3>

<div  role="region" aria-labelledby="HeadersCol" tabindex="0" class="rowheaders limit-table">
 <table style="text-transform:uppercase;" >
    <thead>
    <tr>
        <th>  nome </th>
        <th>  status </th>
        <th>  telefone1 </th>
        <th>  responsavel financeiro </th>
        <th>  mae </th>
        <th>  trabalho mae </th>
        <th>  pai </th>
        <th>  trabalho pai </th>
        <th>  editar </th>
    </tr>
    </thead>
    <tbody>

    {% for aluno in turma.aluno.select_related %}
    <tr>
        <th scope="row">
            <a href="{{ aluno.get_absolute_url }}">
                {{ aluno.id  | default_if_none:"" }} - {{ aluno.full_name  | default_if_none:"" }}
            </a> </th>
            <td> {{ aluno.status  | default_if_none:"" }} </td>
            <td> {{ aluno.telefone1 | default_if_none:"" }} </td>
            <td> {{ aluno.tel_responsavel_financeiro | default_if_none:"" }} </td>
            <td> {{ aluno.celular_mae | default_if_none:"" }} </td>
            <td> {{ aluno.tel_trabalho_mae | default_if_none:"" }} </td>
            <td> {{ aluno.celular_pai | default_if_none:"" }} </td>
            <td> {{ aluno.tel_trabalho_pai | default_if_none:"" }} </td>
            <td> <a href="{% url 'aluno-update' aluno.id %}">  link </a> </td>
    </tr>
 {% endfor %}

<tbody>
</table>
</div>

<!---->
<br>
<br>

<h3>LANÇAR NOTAS </h3>

<div  role="region" aria-labelledby="HeadersCol" tabindex="0" class="rowheaders limit-table">
 <table style="text-transform:uppercase;" >
    <thead>
    <tr>
        <th> aluno </th>
        <th> research_01 </th>
        <th> organization_01 </th>
        <th> interest_01 </th>
        <th> group_activity_01  </th>
        <th> speaking_01 </th>
        <th> frequencia_of_01 </th>
        <th> listening_01 </th>
        <th> readind_inter_01 </th>
        <th> writing_process_01 </th>
        <th> enviar </th>
    </tr>
    </thead>
    <tbody>

    {% for aluno in turma.aluno.select_related %}
    <tr>
        <form action="{% url 'turma-nota-teste' %}" method="POST">
            {% csrf_token %}
                <th scope="row">
                    <a href="{{ aluno.get_absolute_url }}">
                        {{ aluno.id  | default_if_none:"" }} - {{ aluno.full_name  | default_if_none:"" }}
                    </a>
                </th>
                <td> <input type="number" name="turma" value="{{turma.id}}" placeholder="{{turma.id}}"> </td>
                <td> <input type="number" name="research_01"> </td>
                <td> <input type="number" name="organization_01"> </td>

                <td>
                    <button class="btn btn-info size-sm" type="submit" name="id" value="{{ aluno.id }}">
                        Enviar
                    </button>
                </td>
        </form>
    </tr>
 {% endfor %}

<tbody>
</table>
</div>

{{ research_01 }}

{% endblock %}
